#!/usr/bin/python3
from neovim import attach
import sys, os.path

args = sys.argv[1:]
if not args:
    print("Usage: nvimt <filename> ...")
    sys.exit(1)

addr = os.environ["NVIM_LISTEN_ADDRESS"]
if not addr:
# TODO: Open a new nvim instance if no addr
    sys.exit(2)

ip, separator, port = addr.rpartition(':')
assert separator
port = int(port)
nvim = attach("tcp", path=ip, port=port)

def normalizePath(name):
    path = os.path.abspath(name).replace(" ", "\\ ")
    if os.path.isdir(name):
        path += "/"
    return path

def openFiles():
#TODO check if ssh
    for x in args:
        nvim.command("drop scp://simmons.local/{}".format(normalizePath(x)))

openFiles()
